$main-blue: #0471b6;
$main-red: #b2121c;
$dark: #8b8e91;
$dark-light: #f8f8f8;
$tablet-landscape-min: 768px;
$tablet-landscape-max: 1024px;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.bg-black {
  background-color: rgba(0, 0, 0, .7)
}

.link-style {
  text-decoration: none;
  color: $dark;

  &:hover {
    text-decoration: none;
    color: $dark-light;
  }
}

.icons-fixed {
  position: fixed;
  z-index: 1;
  top: calc(50% - 60px);
  right: 0;
  width: 50px;
  height: 120px;

  .wrapper-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .wrapper-icon {
      position: relative;

      .fa-comment {
        color: #fff;
        font-size: 35px;
      }

      .fa-video,
      .fa-phone,
      .fa-envelope {
        color: #000;
        position: absolute;
        top: 9px;
        left: 9px;
      }

      img {
        width: 35px;

        &.wapp {
          width: 32px;
        }
      }
    }
  }
}

.icon-contact {
  width: 35px;
  margin-top: 10px;
}

nav {
  position: absolute;
  z-index: 1000;
  top: 10px;
  left: 0;
  color: #fff;
  width: 100%;

  .menu-btn {
    position: absolute;
    top: 40px;
    right: 20px;
    width: 30px;
    height: 100px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    .menu-btn__burger {
      width: 30px;
      height: 2px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      transition: all .5s ease-in-out;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;

        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.5s ease-in-out;
      }

      &::before {
        transform: translateY(-16px);
        top: 6px;
      }

      &::after {
        transform: translateY(16px);
        top: -6px;
      }
    }

    // animation
    &.open {
      .menu-btn__burger {
        transform: translateX(-50px);
        background-color: transparent;
        box-shadow: none;
      }

      .menu-btn__burger::before {
        transform: rotate(45deg) translate(28px, -36.5px);
      }

      .menu-btn__burger::after {
        transform: rotate(-45deg) translate(28px, 36.5px);
      }
    }
  }

  #menu {
    position: absolute;
    top: 20px;
    right: 90px;
    display: none !important;
    transition: all 0.5s ease;

    &.active {
      display: block !important;
      transition: 0.5s;
    }

    ul {
      width: 230px;
      height: auto;
      background-color: rgba(black, 0.6);
      display: block;
      margin: 0;
      padding: 0;
    }


    li {
      list-style: none;
      display: block;
      width: 100%;
      height: auto;
      color: #fffafa;
      font-size: 20px;
      padding: 10px;
      text-align: center;

      -webkit-transition: all .9s ease;
      -moz-transition: all .9s ease;
      ;
      -ms-transition: all .9s ease;
      transition: all .9s ease;

      &:not(:last-child) {
        border-bottom: 2px solid #fff;
      }

      a {
        text-decoration: none;
        color: #fff;
        text-align: left;
        padding: 0;
        text-transform: uppercase;
      }

      &:hover {
        background-color: rgba($main-blue, 0.95);
        width: 235px;
      }
    }
  }
}


.grid-container {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(3, 33.33vw);
  grid-gap: 2px;
  width: 100%;
  overflow: hidden;

  [class^="grid-item"] {
    height: 33.33vh;
    width: 33.33vw;
    background-size: cover;
    background-position: center;
    background-color: black;
  }

  .video-iframe {
    width: 100%;
    height: 100%;
  }

  .grid-item- {
    &1 {
      grid-column: 1 / span 3;
      height: 100vh;
      width: 100vw;

      #header-carousel {
        .carousel-item {
          height: 100vh;
        }

        .carousel-inner {
          .carousel-item {
            position: relative;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            // &:first-of-type{
            //   background-image:url('../img/compress/sliders/header1AA-min.jpg');
            // }
            // &:nth-of-type(2){
            //   background-image:url('../img/compress/sliders/slider-2-min.jpeg')
            // }
            // &:nth-of-type(3){
            //   background-image:url('../img/compress/sliders/slider-3-min.jpg')
            // }
            // &:nth-of-type(4){
            //   background-image:url('../img/compress/sliders/slider-4-min.jpeg')
            // }
            // &:nth-of-type(5){
            //   background-image:url('../img/compress/sliders/slider-5-min.jpg')
            // }
            .carousel-caption {
              position: absolute;
              top: 0;
              left: 0vw;
              width: 50vw;
              height: 100vh;

              .wrapper-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: justify;
                background-color: rgba(0, 0, 0, 0.7);
                padding: 60px;

                .content-title {
                  color: $main-red;
                  font-size: 25px;
                  text-transform: uppercase;
                  font-weight: bolder;
                  // text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.31);
                  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
                }

                p {
                  font-weight: 600;
                  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
                  margin-bottom: 0;
                }
              }
            }
          }
        }

        .carousel-control-prev,
        .carousel-control-next {
          width: 10%;
          z-index: 8000;
        }
      }
    }

    &2 {
      grid-column: 1 / span 2;
      grid-row: 2 / span 2;
      // height: 66.66vh;
      height: 100%;
      // width: 66.66vw;
      width: 100%;
    }

    // &3 {
    //   background-image: url("../img/compress/grid-item-3-min.jpg");
    // }

    &4 {}

    &5 {}

    // &6 {
    //   background-image: url("../img/compress/grid-item-6-min.jpg");
    // }

    // &9 {
    //   background-image: url("../img/grid-item-9.jpg");
    // }

    &10 {
      grid-column: 2 / span 2;
      grid-row: 5 / span 2;
      // height: 66.66vh;
      height: 100%;
      // width: 66.66vw;
      width: 100%;
    }

    // &11 {
    //   background-image: url("../img/compress/grid-item-11-min.jpg");
    // }

    // &12 {
    //   background-image: url("../img/compress/grid-item-12-min.jpeg");
    // }

    &14 {
      grid-column: 1 / span 2;
      grid-row: 8 / span 2;
      // height: 66.66vh;
      height: 100%;
      // width: 66.66vw;
      width: 100%;

    }

    // &15 {
    //   background-image: url("../img/compress/grid-item-15-min.jpeg");
    // }

    // &16 {
    //   background-image: url("../img/compress/grid-item-16-min.jpeg");
    // }

    // &17 {
    //   background-image: url("../img/compress/grid-item-17-min.jpeg");
    // }

    // &19 {
    //   background-image: url("../img/compress/grid-item-19-min.jpeg");
    // }

    // &20 {
    //   background-image: url("../img/compress/grid-item-20-min.jpeg");
    // }

    &22 {
      grid-column: 2 / span 2;
      grid-row: 11 / span 2;
      // height: 66.66vh;
      height: 100%;
      // width: 66.66vw;
      width: 100%;

    }

    // &23 {
    //   background-image: url("../img/compress/grid-item-23-min.jpeg");
    // }

    // &24 {
    //   background-image: url("../img/compress/grid-item-24-min.jpg");
    // }

    // &25 {
    //   background-image: url("../img/compress/grid-item-25-min.jpg");
    // }

    &26 {
      display: none !important;

      #full-size-carousel-2 {

        .carousel-item-next,
        .carousel-item-prev,
        .carousel-item.active {
          display: flex;
          align-items: flex-end;
        }

        .carousel-inner {
          .carousel-item {
            .margin-top-custom {
              margin-top: calc(100% - 70%);
            }
          }
        }
      }
    }

    &27 {
      display: none !important;
    }

    &28 {
      display: none !important;

      #full-size-carousel {

        .carousel-item-next,
        .carousel-item-prev,
        .carousel-item.active {
          display: flex;
          align-items: flex-end;
        }

        .carousel-inner {
          .carousel-item {
            .margin-top-custom {
              margin-top: calc(100% - 70%);
            }
          }
        }
      }
    }
  }
}

//carousels

#clients,
#buy,
#projects {
  .carousel-item {
    height: 100%;
  }

  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title-principal {
      margin-top: 0;
    }
  }
}

.logo {
  width: 18%;
  height: 7%;
  display: block;
  margin: auto;
}

.logo-ccfm {
  width: 30%;
  height: 20%;
  padding: 4px;
  margin-top: 20px;
  display: block;
  margin: auto;
}

.logo-iaee {
  width: 20%;
  height: 10%;
  display: block;
  margin: auto;
}

.logo-camexa {
  width: 20%;
  height: 20%;
  display: block;
  margin: auto;
}

.logo-amcham {
  width: 20%;
  height: 15%;
  display: block;
  margin: auto;
}

.img-wrapper {
  padding-top: 100px;
  overflow: hidden;
}

.carousel-black {
  background-color: #0000;
}

.img-leduup {
  width: 20%;
  height: 20%;
  margin-right: 60px;
}

.img-herramientas {
  width: 40%;
  height: 20%;
}

.title-principal {
  color: $main-blue;
  font-size: 20px;
  margin-top: 2vw;
}

.title-dos {
  font-size: 14px;
  color: $main-blue;
}

.text-white {
  color: white;
  font-size: 14px;
}

.text-members {
  font-size: 14px;
}

.carousel-height {
  height: 32vh;
}

.sliders {
  height: 100%;
}

.slider-size {
  height: 33.333vh;
  margin-top: 0px;
}

.margin-projects {
  margin-top: 3vw;
}

//titles images
.title-image {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
  margin-top: 25px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.subtitle-image {
  color: white;
  font-size: 12px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
  margin-left: 20px;
  margin-top: 0px;
}

.modal-bg {
  background-color: #0a0a0a;
}

.logo-modal {
  width: 40%;
  height: 10%;
  display: block;
  margin: auto;
}

// footer
footer {
  padding: 12.5vh 61px;
  background-color: black;
  margin-top: 2px;

  .text-address,
  .text-email,
  .text-social-networks {
    text-decoration: none;
    color: #fff;

    &::after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: #fff;
      display: block;
      margin: 6px 0;
    }
  }

  .text-address {
    &+p {
      color: #ffffff;
    }
  }

  .mail {
    color: #f8f8f8;
  }

  .social-networks {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 40%;
    list-style: none;

    li {
      margin-right: 10px;

      a {
        text-decoration: none;
        color: #fff;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .wrapper-footer-last {
    color: $dark;
  }
}

.cursor-pointer {
  cursor: pointer;
}


// tablet landscape
@media only screen and (min-device-width: $tablet-landscape-min) and (max-device-width: $tablet-landscape-max) and (orientation: landscape) {
  .grid-container {
    grid-template-columns: repeat(2, 50vw);

    [class^="grid-item"] {
      height: 50vh;
      width: 50vw;
    }

    .grid-item- {
      &1 {
        grid-column: 1 / span 2;
        height: 100vh;
        width: 100vw;

        #header-carousel {
          .carousel-inner {
            .carousel-item {
              .carousel-caption {
                height: 30vh;
                top: 33vh;
                left: 0vw;
                width: 50vw;
                padding: 20px;

                .wrapper-content {
                  .content-title {
                    font-size: 22px;
                    text-align: center;
                  }

                  p {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }

      &2 {
        grid-column: 1 / span 1;
      }

      &4 {
        grid-column: 1 / span 1;
      }

      &10 {
        grid-column: 2 / span 1;
        grid-row: 5 / span 1;
      }

      &14 {
        grid-column: 1 / span 1;
        grid-row: 8 / span 1;
      }

      &22 {
        grid-column: 2 / span 1;
        grid-row: 11 / span 1;
      }

      &26 {
        display: none !important;
      }

      &27 {
        display: none !important;
      }

      &28 {
        display: none !important;
      }
    }

    .icons-fixed {
      top: calc(50% - 60px);
      right: 0;
      width: 50px;
      height: 40px;
    }

    .icon-contact {
      width: 30px;
      margin-top: 10px;
    }
  }

  .hide-text {
    display: none !important;
  }

  .slider-size {
    height: 50vh;
  }

  .margin-projects {
    margin-top: 140px;

  }

  .title-principal {
    margin-top: 12vw;
  }

  footer {
    .font-size {
      font-size: 14px;
    }
  }

  .menu-btn {
    display: none !important;
  }

}

//tablet portrait
@media only screen and (min-device-width: 659px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .grid-container {
    grid-template-columns: repeat(2, 50vw);
    grid-gap: 1px;

    [class^="grid-item"] {
      height: 50vh;
      width: 50vw;
    }

    .grid-item- {
      &1 {
        grid-column: 1 / span 2;
        width: 100vw;
        height: 50vh;

        #header-carousel {
          height: 50vh;

          .carousel-inner {
            .carousel-item {
              height: 50vh;

              .carousel-caption {
                height: 20vh;
                top: 14vh;
                left: 0vw;
                width: 50vw;

                .wrapper-content {
                  .content-title {
                    font-size: 20px;
                    text-align: center;
                  }

                  p {
                    font-size: 11px;
                  }
                }
              }
            }
          }
        }
      }

      &2 {
        grid-column: 1 / span 2;
        display: none;
      }

      &3 {
        display: none;
      }

      &4 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
      }

      &5 {
        display: none;
      }

      &6 {
        display: none;
      }

      &7 {
        display: none;
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
      }

      &8 {
        display: none;
      }

      &9 {
        display: none;
      }

      &10 {
        display: none;
      }

      &11 {
        display: none;
      }

      &12 {
        display: none;
      }

      &13 {
        display: none;
      }

      &14 {
        display: none;
      }

      &15 {
        display: none;
      }

      &16 {
        display: none;
      }

      &17 {
        display: none;
      }

      &18 {
        display: none;
      }

      &19 {
        display: none;
      }

      &20 {
        display: none;
      }

      &21 {
        display: none;
      }

      &22 {
        display: none;
      }

      &23 {
        display: none;
      }

      &24 {
        display: none;
      }

      &25 {
        display: none;
      }

      &26 {
        display: unset !important;
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
      }

      &27 {
        display: unset !important;
      }

      &28 {
        display: unset !important;
      }
    }
  }

  #clients {
    .carousel-item.active {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title-principal {
        margin-top: 0;
      }
    }
  }

  .title-principal {
    font: size 18px;
    margin-top: 15vw !important;
  }

  .text-white {
    font-size: 15px;
  }

  .icons-fixed {
    top: calc(30% - 60px);
    right: 0;
    width: 50px;
    height: 0px;
  }

  .icon-contact {
    width: 70%;
    // height: 20%;
    margin-top: 10px;
  }

  #full-size-carousel {

    .carousel-item-next,
    .carousel-item-prev,
    .carousel-item.active {
      display: flex;
      align-items: flex-end;
    }

    .carousel-item {
      width: 50vw;
      height: 50vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      // &:first-child {
      //   background-image: url("../img/compress/sliders/slider-mobile-2/1.jpg");
      // }

      // &:nth-of-type(2) {
      //   background-image: url("../img/compress/sliders/slider-mobile-2/2.jpg");
      // }

      // &:nth-of-type(3) {
      //   background-image: url("../img/compress/sliders/slider-mobile-2/3.jpg");
      // }

      // &:nth-of-type(4) {
      //   background-image: url("../img/compress/sliders/slider-mobile-2/4.jpg");
      // }

      // &:nth-of-type(5) {
      //   background-image: url("../img/compress/sliders/slider-mobile-2/5-min.jpg");
      // }

      // &:nth-of-type(6) {
      //   background-image: url("../img/compress/sliders/slider-mobile-2/6-min.jpg");
      // }

      // &:nth-of-type(7) {
      //   background-image: url("../img/compress/sliders/slider-mobile-2/7-min.jpg");
      // }
    }
  }

  #full-size-carousel-2 {

    .carousel-item-next,
    .carousel-item-prev,
    .carousel-item.active {
      display: flex;
      align-items: flex-end;
    }

    .carousel-item {
      width: 50vw;
      height: 50vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      // &:first-child {
      //   background-image: url("../img/compress/sliders/slider-mobile-1/1-showroom-virtual-min.png");
      // }

      // &:nth-of-type(2) {
      //   background-image: url("../img/compress/sliders/slider-mobile-1/2-metricas-min.png");
      // }

      // &:nth-of-type(3) {
      //   background-image: url("../img/compress/sliders/slider-mobile-1/3-clientes-potenciales-min.png");
      // }

      // &:nth-of-type(4) {
      //   background-image: url("../img/compress/sliders/slider-mobile-1/4-tiempo-real-min.png");
      // }
    }
  }

  .slider-size {
    height: 50vh;
  }

  // .title-principal{
  //   margin-top: 20vw !important;
  // }
  footer {
    padding: 40px 150px;

    .font-size {
      font-size: 10px;
    }
  }

  .menu-btn {
    display: none !important;
  }
}

// mobile
@media only screen and (max-width: 425px) {
  .grid-container {
    grid-template-columns: 100vw;
    grid-gap: 1px;

    [class^="grid-item"] {
      height: 50vh;
      width: 100vw;
    }

    .grid-item- {
      &1 {
        grid-column: 1 / span 2;
        width: 100vw;
        height: 50vh;

        #header-carousel {
          height: 50vh;

          .carousel-inner {
            .carousel-item {
              height: 50vh;

              .carousel-caption {
                height: 23vh;
                padding: 10px;
                padding-right: 30px;
                padding-left: 30px;
                top: 15vh;
                left: 0vw;
                width: 70vw;

                &.w-80 {
                  width: 80vw;
                }

                .wrapper-content {
                  padding: 30px;

                  .content-title {
                    font-size: 16px;
                    text-align: center;
                  }

                  p {
                    font-size: 8px;
                  }
                }
              }
            }
          }
        }
      }

      &2 {
        grid-column: 1 / span 1;
        display: none;
      }

      &3 {
        display: none;
      }

      &4 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
      }

      &5 {}

      &6 {
        display: none;
        grid-column: 1 / span 1;
      }

      &7 {
        display: none;
        grid-column: 1 / span 1;
        grid-row: 3 / span 2;
      }

      &8 {
        display: none;
      }

      &9 {
        display: none;
      }

      &10 {
        display: none;
      }

      &11 {
        display: none;
      }

      &12 {
        display: none;
      }

      &13 {
        display: none;
      }

      &14 {
        display: none;
      }

      &15 {
        display: none;
      }

      &16 {
        display: none;
      }

      &17 {
        display: none;
      }

      &18 {
        display: none;
      }

      &19 {
        display: none;
      }

      &20 {
        display: none;
      }

      &21 {
        display: none;
      }

      &22 {
        display: none;
      }

      &23 {
        display: none;
      }

      &24 {
        display: none;
      }

      &25 {
        display: none;
      }

      &26 {
        display: unset !important;
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
      }

      &27 {
        display: unset !important;
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
      }

      &28 {
        display: unset !important;
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
      }
    }
  }

  .title-principal {
    font-size: 16px;
  }

  .text-white {
    font-size: 13px;
  }

  .ubication-messebau {
    width: 100%;
  }

  .icons-fixed {
    top: calc(30% - 60px);
    right: 0;
    width: 50px;
    height: 40px;
  }

  .icon-contact {
    width: 30px;
    margin-top: 5px;
  }

  #full-size-carousel {

    .carousel-item-next,
    .carousel-item-prev,
    .carousel-item.active {
      display: flex;
      align-items: flex-end;
    }

    .carousel-item {
      width: 100vw;
      height: 50vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      // &:first-child {
      //   background-image: url("../img/compress/sliders/slider-mobile-2/1.jpg");
      // }

      // &:nth-of-type(2) {
      //   background-image: url("../img/compress/sliders/slider-mobile-2/2.jpg");
      // }

      // &:nth-of-type(3) {
      //   background-image: url("../img/compress/sliders/slider-mobile-2/3.jpg");
      // }

      // &:nth-of-type(4) {
      //   background-image: url("../img/compress/sliders/slider-mobile-2/4.jpg");
      // }

      // &:nth-of-type(5) {
      //   background-image: url("../img/compress/sliders/slider-mobile-2/5-min.jpg");
      // }

      // &:nth-of-type(6) {
      //   background-image: url("../img/compress/sliders/slider-mobile-2/6-min.jpg");
      // }

      // &:nth-of-type(7) {
      //   background-image: url("../img/compress/sliders/slider-mobile-2/7-min.jpg");
      // }
    }
  }

  #full-size-carousel-2 {

    .carousel-item-next,
    .carousel-item-prev,
    .carousel-item.active {
      display: flex;
      align-items: flex-end;
    }

    .carousel-item {
      width: 100vw;
      height: 50vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      // &:first-child {
      //   background-image: url("../img/compress/sliders/slider-mobile-1/1-showroom-virtual-min.png");
      // }

      // &:nth-of-type(2) {
      //   background-image: url("../img/compress/sliders/slider-mobile-1/2-metricas-min.png ");
      // }

      // &:nth-of-type(3) {
      //   background-image: url("../img/compress/sliders/slider-mobile-1/3-clientes-potenciales-min.png");
      // }

      // &:nth-of-type(4) {
      //   background-image: url("../img/compress/sliders/slider-mobile-1/4-tiempo-real-min.png");
      // }
    }
  }

  .slider-size {
    height: 50vh;
  }

  footer {
    .font-size {
      font-size: 13px;
    }
  }

  .menu-btn {
    display: none !important;
  }
}


// webp

.no-webp {
  .grid-container {
    .grid-item- {
      &1 {
        #header-carousel {
          .carousel-inner {
            .carousel-item {
              &:first-of-type {
                background-image: url('../img/compress/sliders/header1AA-min.jpg');
              }

              &:nth-of-type(2) {
                background-image: url('../img/compress/sliders/slider-2-min.jpeg')
              }

              &:nth-of-type(3) {
                background-image: url('../img/compress/sliders/slider-3-min.jpg')
              }

              &:nth-of-type(4) {
                background-image: url('../img/compress/sliders/slider-4-min.jpeg')
              }

              &:nth-of-type(5) {
                background-image: url('../img/compress/sliders/slider-5-min.jpg')
              }
            }
          }
        }
      }
      &3 {
        background-image: url("../img/compress/grid-item-3-min.jpg");
      }
      &6 {
        background-image: url("../img/compress/grid-item-6-min.jpg");
      }
  
      &9 {
        background-image: url("../img/compress/grid-item-9-min.jpg");
      }
      &11 {
        background-image: url("../img/compress/grid-item-11-min.jpg");
      }
  
      &12 {
        background-image: url("../img/compress/grid-item-12-min.jpeg");
      }
      &15 {
        background-image: url("../img/compress/grid-item-15-min.jpeg");
      }
  
      &16 {
        background-image: url("../img/compress/grid-item-16-min.jpeg");
      }
  
      &17 {
        background-image: url("../img/compress/grid-item-17-min.jpeg");
      }
  
      &19 {
        background-image: url("../img/compress/grid-item-19-min.jpeg");
      }
      &20 {
        background-image: url("../img/compress/grid-item-20-min.jpeg");
      }
      &23 {
        background-image: url("../img/compress/grid-item-23-min.jpeg");
      }
  
      &24 {
        background-image: url("../img/compress/grid-item-24-min.jpg");
      }
  
      &25 {
        background-image: url("../img/compress/grid-item-25-min.jpg");
      }
    }
  }

  // tablet portrait
  @media only screen and (min-device-width: 659px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    #full-size-carousel {
      .carousel-item {
  
        &:first-child {
          background-image: url("../img/compress/sliders/slider-mobile-2/1.jpg");
        }
  
        &:nth-of-type(2) {
          background-image: url("../img/compress/sliders/slider-mobile-2/2.jpg");
        }
  
        &:nth-of-type(3) {
          background-image: url("../img/compress/sliders/slider-mobile-2/3.jpg");
        }
  
        &:nth-of-type(4) {
          background-image: url("../img/compress/sliders/slider-mobile-2/4.jpg");
        }
  
        &:nth-of-type(5) {
          background-image: url("../img/compress/sliders/slider-mobile-2/5-min.jpg");
        }
  
        &:nth-of-type(6) {
          background-image: url("../img/compress/sliders/slider-mobile-2/6-min.jpg");
        }
  
        &:nth-of-type(7) {
          background-image: url("../img/compress/sliders/slider-mobile-2/7-min.jpg");
        }
      }
    }

    #full-size-carousel-2 {
      .carousel-item {
  
        &:first-child {
          background-image: url("../img/compress/sliders/slider-mobile-1/1-showroom-virtual-min.png");
        }
  
        &:nth-of-type(2) {
          background-image: url("../img/compress/sliders/slider-mobile-1/2-metricas-min.png");
        }
  
        &:nth-of-type(3) {
          background-image: url("../img/compress/sliders/slider-mobile-1/3-clientes-potenciales-min.png");
        }
  
        &:nth-of-type(4) {
          background-image: url("../img/compress/sliders/slider-mobile-1/4-tiempo-real-min.png");
        }
      }
    }
  }

  @media only screen and (max-width: 425px) {
    #full-size-carousel {
      .carousel-item {
        &:first-child {
          background-image: url("../img/compress/sliders/slider-mobile-2/1.jpg");
        }
  
        &:nth-of-type(2) {
          background-image: url("../img/compress/sliders/slider-mobile-2/2.jpg");
        }
  
        &:nth-of-type(3) {
          background-image: url("../img/compress/sliders/slider-mobile-2/3.jpg");
        }
  
        &:nth-of-type(4) {
          background-image: url("../img/compress/sliders/slider-mobile-2/4.jpg");
        }
  
        &:nth-of-type(5) {
          background-image: url("../img/compress/sliders/slider-mobile-2/5-min.jpg");
        }
  
        &:nth-of-type(6) {
          background-image: url("../img/compress/sliders/slider-mobile-2/6-min.jpg");
        }
  
        &:nth-of-type(7) {
          background-image: url("../img/compress/sliders/slider-mobile-2/7-min.jpg");
        }
      }
    }
  
    #full-size-carousel-2 {
      .carousel-item {
  
        &:first-child {
          background-image: url("../img/compress/sliders/slider-mobile-1/1-showroom-virtual-min.png");
        }
  
        &:nth-of-type(2) {
          background-image: url("../img/compress/sliders/slider-mobile-1/2-metricas-min.png ");
        }
  
        &:nth-of-type(3) {
          background-image: url("../img/compress/sliders/slider-mobile-1/3-clientes-potenciales-min.png");
        }
  
        &:nth-of-type(4) {
          background-image: url("../img/compress/sliders/slider-mobile-1/4-tiempo-real-min.png");
        }
      }
    }
  }
}


.webp {
  .grid-container {
    .grid-item- {
      &1 {
        #header-carousel {
          .carousel-inner {
            .carousel-item {
              &:first-of-type {
                background-image: url('../img/optimized/slider/header1AA.webp');
              }

              &:nth-of-type(2) {
                background-image: url('../img/optimized/slider/slider-2.webp');
              }

              &:nth-of-type(3) {
                background-image: url('../img/optimized/slider/slider-3.webp');
              }

              &:nth-of-type(4) {
                background-image: url('../img/optimized/slider/slider-4.webp');
              }

              &:nth-of-type(5) {
                background-image: url('../img/optimized/slider/slider-5.webp');
              }
            }
          }
        }
      }
      &3 {
        background-image: url("../img/optimized/grid-item-3.webp");
      }
      &6 {
        background-image: url("../img/optimized/grid-item-6.webp");
      }
  
      &9 {
        background-image: url("../img/optimized/grid-item-9.webp");
      }
      &11 {
        background-image: url("../img/optimized/grid-item-11.webp");
      }
  
      &12 {
        background-image: url("../img/optimized/grid-item-12.webp");
      }
      &15 {
        background-image: url("../img/optimized/grid-item-15.webp");
      }
  
      &16 {
        background-image: url("../img/optimized/grid-item-16.webp");
      }
  
      &17 {
        background-image: url("../img/optimized/grid-item-17.webp");
      }
  
      &19 {
        background-image: url("../img/optimized/grid-item-19.webp");
      }
      &20 {
        background-image: url("../img/optimized/grid-item-20.webp");
      }
      &23 {
        background-image: url("../img/optimized/grid-item-23.webp");
      }
  
      &24 {
        background-image: url("../img/optimized/grid-item-24.webp");
      }
  
      &25 {
        background-image: url("../img/optimized/grid-item-25.webp");
      }
    }
  }

  // tablet portrait
  @media only screen and (min-device-width: 659px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    #full-size-carousel {
      .carousel-item {
  
        &:first-child {
          background-image: url("../img/optimized/slider/slider-mobile-2/1.webp");
        }
  
        &:nth-of-type(2) {
          background-image: url("../img/optimized/slider/slider-mobile-2/2.webp");
        }
  
        &:nth-of-type(3) {
          background-image: url("../img/optimized/slider/slider-mobile-2/3.webp");
        }
  
        &:nth-of-type(4) {
          background-image: url("../img/optimized/slider/slider-mobile-2/4.webp");
        }
  
        &:nth-of-type(5) {
          background-image: url("../img/optimized/slider/slider-mobile-2/5.webp");
        }
  
        &:nth-of-type(6) {
          background-image: url("../img/optimized/slider/slider-mobile-2/6.webp");
        }
  
        &:nth-of-type(7) {
          background-image: url("../img/optimized/slider/slider-mobile-2/7.webp");
        }
      }
    }

    #full-size-carousel-2 {
      .carousel-item {
        &:first-child {
          background-image: url("../img/optimized/slider/slider-mobile-1/1-showroom-virtual.webp");
        }
  
        &:nth-of-type(2) {
          background-image: url("../img/optimized/slider/slider-mobile-1/2-metricas.webp");
        }
  
        &:nth-of-type(3) {
          background-image: url("../img/optimized/slider/slider-mobile-1/3-clientes-potenciales.webp");
        }
  
        &:nth-of-type(4) {
          background-image: url("../img/optimized/slider/slider-mobile-1/4-tiempo-real.webp");
        }
      }
    }
  }

  // mobile
  @media only screen and (max-width: 425px) {
    #full-size-carousel {
      .carousel-item {
        &:first-child {
          background-image: url("../img/optimized/slider/slider-mobile-2/1.webp");
        }
  
        &:nth-of-type(2) {
          background-image: url("../img/optimized//slider/slider-mobile-2/2.webp");
        }
  
        &:nth-of-type(3) {
          background-image: url("../img/optimized/slider/slider-mobile-2/3.webp");
        }
  
        &:nth-of-type(4) {
          background-image: url("../img/optimized/slider/slider-mobile-2/4.webp");
        }
  
        &:nth-of-type(5) {
          background-image: url("../img/optimized/slider/slider-mobile-2/5.webp");
        }
  
        &:nth-of-type(6) {
          background-image: url("../img/optimized/slider/slider-mobile-2/6.webp");
        }
  
        &:nth-of-type(7) {
          background-image: url("../img/optimized/slider/slider-mobile-2/7.webp");
        }
      }
    }
  
    #full-size-carousel-2 {
      .carousel-item {
        &:first-child {
          background-image: url("../img/optimized/slider/slider-mobile-1/1-showroom-virtual.webp");
        }
  
        &:nth-of-type(2) {
          background-image: url("../img/optimized/slider/slider-mobile-1/2-metricas.webp");
        }
  
        &:nth-of-type(3) {
          background-image: url("../img/optimized/slider/slider-mobile-1/3-clientes-potenciales.webp");
        }
  
        &:nth-of-type(4) {
          background-image: url("../img/optimized/slider/slider-mobile-1/4-tiempo-real.webp");
        }
      }
    }
  }
}

// 