/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.icons-fixed {
  position: fixed;
  z-index: 1;
  top: calc(50% - 60px);
  right: 0;
  width: 50px;
  height: 120px;
}

.icons-fixed .wrapper-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons-fixed .wrapper-icons .wrapper-icon {
  position: relative;
}

.icons-fixed .wrapper-icons .wrapper-icon .fa-comment {
  color: #fff;
  font-size: 35px;
}

.icons-fixed .wrapper-icons .wrapper-icon .fa-video,
.icons-fixed .wrapper-icons .wrapper-icon .fa-phone,
.icons-fixed .wrapper-icons .wrapper-icon .fa-envelope {
  color: #000;
  position: absolute;
  top: 9px;
  left: 9px;
}

.icons-fixed .wrapper-icons .wrapper-icon img {
  width: 35px;
}

.icons-fixed .wrapper-icons .wrapper-icon img.wapp {
  width: 32px;
}

.icon-contact {
  width: 35px;
  margin-top: 10px;
}

nav {
  position: absolute;
  z-index: 1000;
  top: 10px;
  left: 0;
  color: #fff;
  width: 100%;
}

nav .menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .menu-btn .menu-btn__burger {
  width: 45px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

nav .menu-btn .menu-btn__burger::before, nav .menu-btn .menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 45px;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .menu-btn .menu-btn__burger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

nav .menu-btn .menu-btn__burger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

nav .menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav .menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

nav .menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

nav #menu {
  position: absolute;
  top: 20px;
  right: 90px;
  display: none !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav #menu.active {
  display: block !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav #menu ul {
  width: 230px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  margin: 0;
  padding: 0;
}

nav #menu li {
  list-style: none;
  display: block;
  width: 100%;
  height: auto;
  color: #fffafa;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  -webkit-transition: all .9s ease;
  transition: all .9s ease;
}

nav #menu li:not(:last-child) {
  border-bottom: 2px solid #fff;
}

nav #menu li a {
  text-decoration: none;
  color: #fff;
  text-align: left;
  padding: 0;
  text-transform: uppercase;
}

nav #menu li:hover {
  background-color: rgba(4, 113, 182, 0.95);
  width: 235px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 0px;
  background-color: white;
  -ms-grid-columns: (33.33vw)[3];
      grid-template-columns: repeat(3, 33.33vw);
  grid-gap: 2px;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.grid-container [class^="grid-item"] {
  height: 33.33vh;
  width: 33.33vw;
  background-size: cover;
  background-position: center;
  background-color: black;
}

.grid-container .video-iframe {
  width: 100%;
  height: 100%;
}

.grid-container .grid-item-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  height: 100vh;
  width: 100vw;
}

.grid-container .grid-item-1 #header-carousel .carousel-item {
  height: 100vh;
}

.grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item {
  position: relative;
}

.grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  top: 32.5vh;
  left: 0vw;
  width: 50vw;
  height: 43vh;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

.grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item .carousel-caption .wrapper-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
}

.grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item .carousel-caption .wrapper-content .content-title {
  color: #b2121c;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
}

.grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item .carousel-caption .wrapper-content p {
  font-weight: 600;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
}

.grid-container .grid-item-1 #header-carousel .carousel-control-prev,
.grid-container .grid-item-1 #header-carousel .carousel-control-next {
  width: 10%;
  z-index: 8000;
}

.grid-container .grid-item-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  height: 66.66vh;
  width: 66.66vw;
}

.grid-container .grid-item-3 {
  background-image: url("../img/grid-item-3.jpg");
}

.grid-container .grid-item-6 {
  background-image: url("../img/grid-item-6.jpg");
}

.grid-container .grid-item-9 {
  background-image: url("../img/grid-item-9.jpg");
}

.grid-container .grid-item-10 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / span 2;
  height: 66.66vh;
  width: 66.66vw;
}

.grid-container .grid-item-11 {
  background-image: url("../img/grid-item-11.jpg");
}

.grid-container .grid-item-12 {
  background-image: url("../img/grid-item-12.jpeg");
}

.grid-container .grid-item-14 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  grid-row: 8 / span 2;
  height: 66.66vh;
  width: 66.66vw;
}

.grid-container .grid-item-15 {
  background-image: url("../img/grid-item-15.jpeg");
}

.grid-container .grid-item-16 {
  background-image: url("../img/grid-item-16.jpeg");
}

.grid-container .grid-item-17 {
  background-image: url("../img/grid-item-17.jpeg");
}

.grid-container .grid-item-19 {
  background-image: url("../img/grid-item-19.jpeg");
}

.grid-container .grid-item-20 {
  background-image: url("../img/grid-item-20.jpeg");
}

.grid-container .grid-item-22 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  -ms-grid-row: 11;
  -ms-grid-row-span: 2;
  grid-row: 11 / span 2;
  height: 66.66vh;
  width: 66.66vw;
}

.grid-container .grid-item-23 {
  background-image: url("../img/grid-item-23.jpeg");
}

.grid-container .grid-item-24 {
  background-image: url("../img/grid-item-24.jpg");
}

.grid-container .grid-item-25 {
  background-image: url("../img/grid-item-25.jpg");
}

.grid-container .grid-item-26 {
  display: none !important;
}

.grid-container .grid-item-26 #full-size-carousel-2 .carousel-inner .carousel-item .margin-top-custom {
  margin-top: calc(100% - 70%);
}

.grid-container .grid-item-27 {
  display: none !important;
}

.grid-container .grid-item-28 {
  display: none !important;
}

.grid-container .grid-item-28 #full-size-carousel .carousel-inner .carousel-item .margin-top-custom {
  margin-top: calc(100% - 70%);
}

#clients .carousel-item, #buy .carousel-item, #projects .carousel-item {
  height: 100%;
}

#clients .carousel-item.active, #clients .carousel-item-next, #clients .carousel-item-prev, #buy .carousel-item.active, #buy .carousel-item-next, #buy .carousel-item-prev, #projects .carousel-item.active, #projects .carousel-item-next, #projects .carousel-item-prev {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#clients .carousel-item.active .title-principal, #clients .carousel-item-next .title-principal, #clients .carousel-item-prev .title-principal, #buy .carousel-item.active .title-principal, #buy .carousel-item-next .title-principal, #buy .carousel-item-prev .title-principal, #projects .carousel-item.active .title-principal, #projects .carousel-item-next .title-principal, #projects .carousel-item-prev .title-principal {
  margin-top: 0;
}

.logo {
  width: 18%;
  height: 7%;
  display: block;
  margin: auto;
}

.logo-ccfm {
  width: 30%;
  height: 20%;
  padding: 4px;
  margin-top: 20px;
  display: block;
  margin: auto;
}

.logo-iaee {
  width: 20%;
  height: 10%;
  display: block;
  margin: auto;
}

.logo-camexa {
  width: 20%;
  height: 20%;
  display: block;
  margin: auto;
}

.logo-amcham {
  width: 20%;
  height: 15%;
  display: block;
  margin: auto;
}

.img-wrapper {
  padding-top: 100px;
  overflow: hidden;
}

.carousel-black {
  background-color: #0000;
}

.img-leduup {
  width: 20%;
  height: 20%;
  margin-right: 60px;
}

.img-herramientas {
  width: 40%;
  height: 20%;
}

.title-principal {
  color: #0471b6;
  font-size: 20px;
  margin-top: 2vw;
}

.title-dos {
  font-size: 14px;
  color: #0471b6;
}

.text-white {
  color: white;
  font-size: 14px;
}

.text-members {
  font-size: 14px;
}

.carousel-height {
  height: 32vh;
}

.sliders {
  height: 100%;
}

.slider-size {
  height: 33.333vh;
  margin-top: 0px;
}

.margin-projects {
  margin-top: 3vw;
}

.title-image {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
  margin-top: 25px;
  margin-left: 20px;
}

.subtitle-image {
  color: white;
  font-size: 12px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
  margin-left: 20px;
}

.modal-bg {
  background-color: #0a0a0a;
}

.logo-modal {
  width: 40%;
  height: 10%;
  display: block;
  margin: auto;
}

footer {
  padding: 40px 61px;
  background-color: black;
  margin-top: 1px;
}

footer .text-address,
footer .text-email,
footer .text-social-networks {
  text-decoration: none;
  color: #fff;
}

footer .text-address::after,
footer .text-email::after,
footer .text-social-networks::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #fff;
  display: block;
  margin: 6px 0;
}

footer .text-address + p {
  color: #ffffff;
}

footer .mail {
  color: #f8f8f8;
}

footer .social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  width: 40%;
  list-style: none;
}

footer .social-networks li {
  margin-right: 10px;
}

footer .social-networks li a {
  text-decoration: none;
  color: #fff;
}

footer .social-networks li a img {
  width: 20px;
  height: 20px;
}

footer p:last-child {
  color: #7b848d;
}

.cursor-pointer {
  cursor: pointer;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .grid-container {
    -ms-grid-columns: (50vw)[2];
        grid-template-columns: repeat(2, 50vw);
  }
  .grid-container [class^="grid-item"] {
    height: 50vh;
    width: 50vw;
  }
  .grid-container .grid-item-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    height: 100vh;
    width: 100vw;
  }
  .grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item .carousel-caption {
    height: 30vh;
    top: 33vh;
    left: 0vw;
    width: 50vw;
    padding: 20px;
  }
  .grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item .carousel-caption .wrapper-content .content-title {
    font-size: 22px;
    text-align: center;
  }
  .grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item .carousel-caption .wrapper-content p {
    font-size: 14px;
  }
  .grid-container .grid-item-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
  .grid-container .grid-item-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
  .grid-container .grid-item-10 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / span 1;
  }
  .grid-container .grid-item-14 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8 / span 1;
  }
  .grid-container .grid-item-22 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 11;
    -ms-grid-row-span: 1;
    grid-row: 11 / span 1;
  }
  .grid-container .grid-item-26 {
    display: none !important;
  }
  .grid-container .grid-item-27 {
    display: none !important;
  }
  .grid-container .grid-item-28 {
    display: none !important;
  }
  .grid-container .icons-fixed {
    top: calc(50% - 60px);
    right: 0;
    width: 50px;
    height: 40px;
  }
  .grid-container .icon-contact {
    width: 30px;
    margin-top: 10px;
  }
  .hide-text {
    display: none !important;
  }
  .slider-size {
    height: 50vh;
  }
  .margin-projects {
    margin-top: 140px;
  }
  .title-principal {
    margin-top: 12vw;
  }
  footer .font-size {
    font-size: 14px;
  }
  .menu-btn {
    display: none !important;
  }
}

@media only screen and (min-device-width: 659px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .grid-container {
    -ms-grid-columns: (50vw)[2];
        grid-template-columns: repeat(2, 50vw);
    grid-gap: 1px;
  }
  .grid-container [class^="grid-item"] {
    height: 50vh;
    width: 50vw;
  }
  .grid-container .grid-item-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    width: 100vw;
    height: 50vh;
  }
  .grid-container .grid-item-1 #header-carousel {
    height: 50vh;
  }
  .grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item {
    height: 50vh;
  }
  .grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item .carousel-caption {
    height: 20vh;
    top: 14vh;
    left: 0vw;
    width: 50vw;
  }
  .grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item .carousel-caption .wrapper-content .content-title {
    font-size: 20px;
    text-align: center;
  }
  .grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item .carousel-caption .wrapper-content p {
    font-size: 11px;
  }
  .grid-container .grid-item-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    display: none;
  }
  .grid-container .grid-item-3 {
    display: none;
  }
  .grid-container .grid-item-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  .grid-container .grid-item-5 {
    display: none;
  }
  .grid-container .grid-item-6 {
    display: none;
  }
  .grid-container .grid-item-7 {
    display: none;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
  }
  .grid-container .grid-item-8 {
    display: none;
  }
  .grid-container .grid-item-9 {
    display: none;
  }
  .grid-container .grid-item-10 {
    display: none;
  }
  .grid-container .grid-item-11 {
    display: none;
  }
  .grid-container .grid-item-12 {
    display: none;
  }
  .grid-container .grid-item-13 {
    display: none;
  }
  .grid-container .grid-item-14 {
    display: none;
  }
  .grid-container .grid-item-15 {
    display: none;
  }
  .grid-container .grid-item-16 {
    display: none;
  }
  .grid-container .grid-item-17 {
    display: none;
  }
  .grid-container .grid-item-18 {
    display: none;
  }
  .grid-container .grid-item-19 {
    display: none;
  }
  .grid-container .grid-item-20 {
    display: none;
  }
  .grid-container .grid-item-21 {
    display: none;
  }
  .grid-container .grid-item-22 {
    display: none;
  }
  .grid-container .grid-item-23 {
    display: none;
  }
  .grid-container .grid-item-24 {
    display: none;
  }
  .grid-container .grid-item-25 {
    display: none;
  }
  .grid-container .grid-item-26 {
    display: unset !important;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  .grid-container .grid-item-27 {
    display: unset !important;
  }
  .grid-container .grid-item-28 {
    display: unset !important;
  }
  #clients .carousel-item.active {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #clients .carousel-item.active .title-principal {
    margin-top: 0;
  }
  .title-principal {
    font: size 18px;
    margin-top: 15vw !important;
  }
  .text-white {
    font-size: 15px;
  }
  .icons-fixed {
    top: calc(30% - 60px);
    right: 0;
    width: 50px;
    height: 0px;
  }
  .icon-contact {
    width: 70%;
    height: 20%;
    margin-top: 10px;
  }
  #full-size-carousel .carousel-item {
    width: 50vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #full-size-carousel .carousel-item:first-child {
    background-image: url("https://picsum.photos/id/27/600");
  }
  #full-size-carousel .carousel-item:nth-of-type(2) {
    background-image: url("https://picsum.photos/id/175/600");
  }
  #full-size-carousel .carousel-item:nth-of-type(3) {
    background-image: url("https://picsum.photos/id/123/600");
  }
  #full-size-carousel .carousel-item:nth-of-type(4) {
    background-image: url("https://www.gastronomistas.com/wp-content/uploads/breakfast-criminal.jpg");
  }
  #full-size-carousel .carousel-item:nth-of-type(5) {
    background-image: url("https://www.gastronomistas.com/wp-content/uploads/breakfast-criminal.jpg");
  }
  #full-size-carousel .carousel-item:nth-of-type(6) {
    background-image: url("https://www.gastronomistas.com/wp-content/uploads/breakfast-criminal.jpg");
  }
  #full-size-carousel-2 .carousel-item {
    width: 50vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #full-size-carousel-2 .carousel-item:first-child {
    background-image: url("https://picsum.photos/id/27/600");
  }
  #full-size-carousel-2 .carousel-item:nth-of-type(2) {
    background-image: url("https://picsum.photos/id/175/600");
  }
  #full-size-carousel-2 .carousel-item:nth-of-type(3) {
    background-image: url("https://picsum.photos/id/123/600");
  }
  #full-size-carousel-2 .carousel-item:nth-of-type(4) {
    background-image: url("https://picsum.photos/id/123/600");
  }
  #full-size-carousel-2 .carousel-item:nth-of-type(5) {
    background-image: url("https://picsum.photos/200/300/?blur");
  }
  #full-size-carousel-2 .carousel-item:nth-of-type(6) {
    background-image: url("https://www.gastronomistas.com/wp-content/uploads/healthyhappened.jpg");
  }
  #full-size-carousel-2 .carousel-item:nth-of-type(7) {
    background-image: url("https://www.gastronomistas.com/wp-content/uploads/healthyhappened.jpg");
  }
  .slider-size {
    height: 50vh;
  }
  footer {
    padding: 40px 150px;
  }
  footer .font-size {
    font-size: 10px;
  }
  .menu-btn {
    display: none !important;
  }
}

@media only screen and (max-width: 425px) {
  .grid-container {
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    grid-gap: 1px;
  }
  .grid-container [class^="grid-item"] {
    height: 50vh;
    width: 100vw;
  }
  .grid-container .grid-item-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    width: 100vw;
    height: 50vh;
  }
  .grid-container .grid-item-1 #header-carousel {
    height: 50vh;
  }
  .grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item {
    height: 50vh;
  }
  .grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item .carousel-caption {
    height: 23vh;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    top: 15vh;
    left: 0vw;
    width: 60vw;
  }
  .grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item .carousel-caption .wrapper-content .content-title {
    font-size: 16px;
    text-align: center;
  }
  .grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item .carousel-caption .wrapper-content p {
    font-size: 8px;
  }
  .grid-container .grid-item-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    display: none;
  }
  .grid-container .grid-item-3 {
    display: none;
  }
  .grid-container .grid-item-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  .grid-container .grid-item-6 {
    display: none;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
  .grid-container .grid-item-7 {
    display: none;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / span 2;
  }
  .grid-container .grid-item-8 {
    display: none;
  }
  .grid-container .grid-item-9 {
    display: none;
  }
  .grid-container .grid-item-10 {
    display: none;
  }
  .grid-container .grid-item-11 {
    display: none;
  }
  .grid-container .grid-item-12 {
    display: none;
  }
  .grid-container .grid-item-13 {
    display: none;
  }
  .grid-container .grid-item-14 {
    display: none;
  }
  .grid-container .grid-item-15 {
    display: none;
  }
  .grid-container .grid-item-16 {
    display: none;
  }
  .grid-container .grid-item-17 {
    display: none;
  }
  .grid-container .grid-item-18 {
    display: none;
  }
  .grid-container .grid-item-19 {
    display: none;
  }
  .grid-container .grid-item-20 {
    display: none;
  }
  .grid-container .grid-item-21 {
    display: none;
  }
  .grid-container .grid-item-22 {
    display: none;
  }
  .grid-container .grid-item-23 {
    display: none;
  }
  .grid-container .grid-item-24 {
    display: none;
  }
  .grid-container .grid-item-25 {
    display: none;
  }
  .grid-container .grid-item-26 {
    display: unset !important;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
  }
  .grid-container .grid-item-27 {
    display: unset !important;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1;
  }
  .grid-container .grid-item-28 {
    display: unset !important;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / span 1;
  }
  #clients {
    margin-top: 60px;
  }
  .title-principal {
    font-size: 16px;
  }
  .text-white {
    font-size: 13px;
  }
  .ubication-messebau {
    width: 100%;
  }
  .icons-fixed {
    top: calc(30% - 60px);
    right: 0;
    width: 50px;
    height: 40px;
  }
  .icon-contact {
    width: 30px;
    margin-top: 5px;
  }
  #full-size-carousel .carousel-item {
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #full-size-carousel .carousel-item:first-child {
    background-image: url("https://picsum.photos/id/27/600");
  }
  #full-size-carousel .carousel-item:nth-of-type(2) {
    background-image: url("https://picsum.photos/id/175/600");
  }
  #full-size-carousel .carousel-item:nth-of-type(3) {
    background-image: url("https://picsum.photos/id/123/600");
  }
  #full-size-carousel .carousel-item:nth-of-type(4) {
    background-image: url("https://www.gastronomistas.com/wp-content/uploads/breakfast-criminal.jpg");
  }
  #full-size-carousel .carousel-item:nth-of-type(5) {
    background-image: url("https://www.gastronomistas.com/wp-content/uploads/breakfast-criminal.jpg");
  }
  #full-size-carousel .carousel-item:nth-of-type(6) {
    background-image: url("https://www.gastronomistas.com/wp-content/uploads/breakfast-criminal.jpg");
  }
  #full-size-carousel-2 .carousel-item {
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #full-size-carousel-2 .carousel-item:first-child {
    background-image: url("https://picsum.photos/id/27/600");
  }
  #full-size-carousel-2 .carousel-item:nth-of-type(2) {
    background-image: url("https://picsum.photos/id/175/600");
  }
  #full-size-carousel-2 .carousel-item:nth-of-type(3) {
    background-image: url("https://picsum.photos/id/123/600");
  }
  #full-size-carousel-2 .carousel-item:nth-of-type(4) {
    background-image: url("https://picsum.photos/id/123/600");
  }
  #full-size-carousel-2 .carousel-item:nth-of-type(5) {
    background-image: url("https://picsum.photos/200/300/?blur");
  }
  #full-size-carousel-2 .carousel-item:nth-of-type(6) {
    background-image: url("https://www.gastronomistas.com/wp-content/uploads/healthyhappened.jpg");
  }
  #full-size-carousel-2 .carousel-item:nth-of-type(7) {
    background-image: url("https://www.gastronomistas.com/wp-content/uploads/healthyhappened.jpg");
  }
  .slider-size {
    height: 50vh;
  }
  .title-principal {
    margin-top: 25vw !important;
  }
  footer .font-size {
    font-size: 13px;
  }
  .menu-btn {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */