body {
  font-family: 'Open Sans', sans-serif;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 0px;
  background-color: black;
  -ms-grid-columns: (33.33vw)[3];
      grid-template-columns: repeat(3, 33.33vw);
  padding: 0;
}

.grid-container [class^="grid-item"] {
  height: 33.33vh;
  background-size: cover;
  background-position: center;
}

.grid-container .video-iframe {
  width: 100%;
  height: 100%;
}

.grid-container .grid-item-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  height: 100vh;
}

.grid-container .grid-item-1 #header-carousel .carousel-item {
  height: 100vh;
}

.grid-container .grid-item-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  height: 66.66vh;
}

.grid-container .grid-item-3 {
  background-image: url("../img/grid-item-3.jpg");
}

.grid-container .grid-item-6 {
  background-image: url("../img/grid-item-6.jpg");
}

.grid-container .grid-item-9 {
  background-image: url("../img/grid-item-9.jpg");
}

.grid-container .grid-item-10 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / span 2;
  height: 66.66vh;
}

.grid-container .grid-item-11 {
  background-image: url("../img/grid-item-11.jpg");
}

.grid-container .grid-item-12 {
  background-image: url("../img/grid-item-12.jpeg");
}

.grid-container .grid-item-14 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  grid-row: 8 / span 2;
  height: 66.66vh;
}

.grid-container .grid-item-15 {
  background-image: url("../img/grid-item-15.jpeg");
}

.grid-container .grid-item-16 {
  background-image: url("../img/grid-item-16.jpeg");
}

.grid-container .grid-item-17 {
  background-image: url("../img/grid-item-17.jpeg");
}

.grid-container .grid-item-19 {
  background-image: url("../img/grid-item-19.jpeg");
}

.grid-container .grid-item-20 {
  background-image: url("../img/grid-item-20.jpeg");
}

.grid-container .grid-item-22 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  -ms-grid-row: 11;
  -ms-grid-row-span: 2;
  grid-row: 11 / span 2;
  height: 66.66vh;
}

.grid-container .grid-item-23 {
  background-image: url("../img/grid-item-23.jpeg");
}

.grid-container .grid-item-24 {
  background-image: url("../img/grid-item-24.jpg");
}

.grid-container .grid-item-25 {
  background-image: url("../img/grid-item-25.jpg");
}

.text-uppercase {
  text-transform: uppercase;
}

.logo {
  width: 70px;
  height: 60px;
  padding: 4px;
}

.logo-ccfm {
  width: 100px;
  height: 40px;
  padding: 4px;
  margin-top: 10px;
}

.img-wrapper {
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  overflow: hidden;
}

.carousel-black {
  background-color: #0000;
}

.img-leduup {
  width: 80px;
  height: 20px;
  padding-right: 2px;
}

.title-principal {
  color: #0471b6;
  font-size: 23px;
}

.text-white {
  color: white;
  font-size: 14px;
}

.padding-members {
  padding-top: 100px;
  padding-left: 50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 450px;
  padding: 50px;
  background-color: black;
}

footer > ul {
  list-style: none;
  color: #fff;
  padding: 0;
}

footer > ul > li > a {
  text-decoration: none;
  color: #fff;
}

footer > ul > li > a::after {
  content: '';
  height: 1px;
  width: 40%;
  background-color: #fff;
  display: block;
  margin-bottom: 5px;
}

footer > ul > li > a:hover {
  text-decoration: none;
  color: #f8f8f8;
}

footer .social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  width: 40%;
  list-style: none;
}

footer .social-networks li {
  margin-right: 10px;
}

footer .social-networks li a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 768px) {
  footer {
    padding: 100px;
  }
  footer > ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer > ul > li:not(:last-child) {
    margin-right: 50px;
  }
}
/*# sourceMappingURL=style.css.map */