/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.icons-fixed {
  position: fixed;
  z-index: 1;
  top: calc(50% - 60px);
  right: 0;
  width: 50px;
  height: 120px;
}

.icons-fixed .wrapper-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons-fixed .wrapper-icons .wrapper-icon {
  position: relative;
}

.icons-fixed .wrapper-icons .wrapper-icon .fa-comment {
  color: #fff;
  font-size: 35px;
}

.icons-fixed .wrapper-icons .wrapper-icon .fa-video,
.icons-fixed .wrapper-icons .wrapper-icon .fa-phone,
.icons-fixed .wrapper-icons .wrapper-icon .fa-envelope {
  color: #000;
  position: absolute;
  top: 9px;
  left: 9px;
}

.icon-contact {
  width: 35px;
  margin-top: 10px;
}

nav {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
}

nav .wrapper-nav {
  position: absolute;
  top: 20px;
  right: 20px;
}

nav .wrapper-nav input[type="checkbox"] {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30px;
  right: 25px;
  opacity: 0;
  z-index: 3;
}

nav .wrapper-nav input[type="checkbox"]:checked ~ .menu-options {
  visibility: visible;
}

nav .wrapper-nav input[type="checkbox"]:checked ~ .fa-bars {
  visibility: collapse;
}

nav .wrapper-nav input[type="checkbox"]:checked ~ .fa-times {
  visibility: visible;
}

nav .wrapper-nav .fa-bars,
nav .wrapper-nav .fa-times {
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

nav .wrapper-nav .fa-times {
  visibility: collapse;
}

nav .wrapper-nav .menu-options {
  visibility: hidden;
  list-style: none;
  margin: 0;
  position: relative;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

nav .wrapper-nav .menu-options li {
  width: 210px;
}

nav .wrapper-nav .menu-options li a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  -webkit-transition: margin-left .5s ease;
  transition: margin-left .5s ease;
}

nav .wrapper-nav .menu-options li a:hover {
  color: #0471b6;
  margin-left: 10px;
  font-weight: bold;
}

nav .wrapper-nav .menu-options > li:not(:last-child) {
  margin-bottom: 8px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 0px;
  background-color: white;
  -ms-grid-columns: (33.33vw)[3];
      grid-template-columns: repeat(3, 33.33vw);
  grid-gap: 1px;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.grid-container [class^="grid-item"] {
  height: 33.33vh;
  width: 33.33vw;
  background-size: cover;
  background-position: center;
  background-color: black;
}

.grid-container .video-iframe {
  width: 100%;
  height: 100%;
}

.grid-container .grid-item-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  height: 100vh;
  width: 100vw;
}

.grid-container .grid-item-1 #header-carousel .carousel-item {
  height: 100vh;
}

.grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item {
  position: relative;
}

.grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  top: 32.5vh;
  left: 0vw;
  width: 50vw;
  height: 35vh;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
}

.grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item .carousel-caption .wrapper-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
}

.grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item .carousel-caption .wrapper-content .content-title {
  color: #b2121c;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
}

.grid-container .grid-item-1 #header-carousel .carousel-inner .carousel-item .carousel-caption .wrapper-content p {
  font-weight: 600;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
}

.grid-container .grid-item-1 #header-carousel .carousel-control-prev, .grid-container .grid-item-1 #header-carousel .carousel-control-next {
  width: 10%;
  z-index: 8000;
}

.grid-container .grid-item-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  height: 66.66vh;
  width: 66.66vw;
}

.grid-container .grid-item-3 {
  background-image: url("../img/grid-item-3.jpg");
}

.grid-container .grid-item-6 {
  background-image: url("../img/grid-item-6.jpg");
}

.grid-container .grid-item-9 {
  background-image: url("../img/grid-item-9.jpg");
}

.grid-container .grid-item-10 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / span 2;
  height: 66.66vh;
  width: 66.66vw;
}

.grid-container .grid-item-11 {
  background-image: url("../img/grid-item-11.jpg");
}

.grid-container .grid-item-12 {
  background-image: url("../img/grid-item-12.jpeg");
}

.grid-container .grid-item-14 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  grid-row: 8 / span 2;
  height: 66.66vh;
  width: 66.66vw;
}

.grid-container .grid-item-15 {
  background-image: url("../img/grid-item-15.jpeg");
}

.grid-container .grid-item-16 {
  background-image: url("../img/grid-item-16.jpeg");
}

.grid-container .grid-item-17 {
  background-image: url("../img/grid-item-17.jpeg");
}

.grid-container .grid-item-19 {
  background-image: url("../img/grid-item-19.jpeg");
}

.grid-container .grid-item-20 {
  background-image: url("../img/grid-item-20.jpeg");
}

.grid-container .grid-item-22 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  -ms-grid-row: 11;
  -ms-grid-row-span: 2;
  grid-row: 11 / span 2;
  height: 66.66vh;
  width: 66.66vw;
}

.grid-container .grid-item-23 {
  background-image: url("../img/grid-item-23.jpeg");
}

.grid-container .grid-item-24 {
  background-image: url("../img/grid-item-24.jpg");
}

.grid-container .grid-item-25 {
  background-image: url("../img/grid-item-25.jpg");
}

.text-uppercase {
  text-transform: uppercase;
}

.logo {
  width: 17%;
  height: 15%;
  display: block;
  margin: auto;
}

.logo-ccfm {
  width: 40%;
  height: 20%;
  padding: 4px;
  margin-top: 20px;
  display: block;
  margin: auto;
}

.logo-iaee {
  width: 25%;
  height: 10%;
  display: block;
  margin: auto;
}

.logo-camexa {
  width: 20%;
  height: 15%;
  display: block;
  margin: auto;
}

.logo-amcham {
  width: 20%;
  height: 15%;
  display: block;
  margin: auto;
}

.img-wrapper {
  padding-top: 100px;
  overflow: hidden;
}

.carousel-black {
  background-color: #0000;
}

.img-leduup {
  width: 20%;
  height: 20%;
  margin-right: 60px;
}

.img-herramientas {
  width: 40%;
  height: 20%;
}

.title-principal {
  color: #0471b6;
  font-size: 20px;
}

.text-white {
  color: white;
  font-size: 14px;
}

.text-members {
  font-size: 16px;
}

.carousel-height {
  height: 32vh;
}

.sliders {
  height: 100%;
}

.title-image {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
  margin-top: 25px;
  margin-left: 20px;
}

.subtitle-image {
  color: white;
  font-size: 12px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
  margin-left: 20px;
}

.modal-bg {
  background-color: #0A0A0A;
}

.logo-modal {
  width: 40%;
  height: 10%;
  display: block;
  margin: auto;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 450px;
  padding: 50px;
  background-color: black;
}

footer > ul {
  list-style: none;
  color: #fff;
  padding: 0;
}

footer > ul > li > a {
  text-decoration: none;
  color: #fff;
}

footer > ul > li > a::after {
  content: '';
  height: 1px;
  width: 40%;
  background-color: #fff;
  display: block;
  margin-bottom: 5px;
}

footer > ul > li > a:hover {
  text-decoration: none;
  color: #f8f8f8;
}

footer .mail {
  color: #f8f8f8;
}

footer .social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  width: 40%;
  list-style: none;
}

footer .social-networks li {
  margin-right: 10px;
}

footer .social-networks li a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 768px) {
  footer {
    padding: 100px;
  }
  footer > ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer > ul > li:not(:last-child) {
    margin-right: 50px;
  }
}
/*# sourceMappingURL=style.css.map */